@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: hsl(0, 0%, 100%);
}

* {
  font-family: "Oswald", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s linear;
  line-height: 1.25;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: rgb(243, 125, 127);
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
  min-height: 100vh;
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: rgb(20, 20, 20);
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: rgb(0, 0, 0);
  cursor: crosshair;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgb(187, 32, 20);
  letter-spacing: 0.2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgb(42, 48, 56);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 4rem 2rem;
  width: 30rem;
  text-align: center;
}

header .logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 9rem;
  font-weight: bolder;
}

header .logo span {
  text-transform: uppercase;
  color: var(--main-color);
}

header .navbar a {
  display: block;
  font-size: 3rem;
  color: #fff;
  margin: 2rem 0;
}

header .navbar a:hover {
  letter-spacing: 0.6rem;
  color: rgb(187, 32, 20);
}

header .follow a {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin: 0 0.7rem;
}

header .follow a:hover {
  color: rgb(187, 32, 20);
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: rgb(38, 45, 98);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: var(--main-color);
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursor-1.active {
  height: 10rem;
  width: 10rem;
  opacity: 0.3;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.home .content .text {
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem 0;
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
}

.projects .box-container .box img {
  height: 65rem;
  width: 100%;
  object-fit: cover;
}

.projects .box-container .box h2 {
  margin: 0.2rem 0;
  color: var(--main-color);
  font-size: 3rem;
  font-weight: normal;
}

.projects .box-container .box span {
  color: var(--main-color);
  font-size: 2rem;
}

.videowrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.maxwidth200 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 5px solid rgb(201, 67, 70);
  border-radius: 1px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="SUBMIT"] {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--main-color);
  color: rgb(0, 0, 0);
  cursor: crosshair;
  font-size: 1.7rem;
}

input[type="SUBMIT"]:hover {
  background: rgb(187, 32, 20);
}

.container {
  border-radius: 5px;
  background-color: #00000000;
  padding: 20px;
}

/* media queries  */

@media (max-width: 1200px) {
  .container {
    margin: 0;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }

  #menu-bars {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.active {
    left: 0%;
  }

  .cursor-1 {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header {
    width: 100%;
  }

  .experience .box-container .box {
    padding-right: 0;
  }
}
